body {
}

.signin-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signin-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 72px;
  padding: 0 40px;
  align-items: center;
  justify-content: left;
  border-bottom: 1px solid rgba(65, 79, 17, 0.25);
  background: #E6EEEF;
}

.logo-text {
  color: var(--Primitive-Neutral---Darker, #232521);
  font-family: 'Unbounded', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 24px */
  letter-spacing: -0.2px;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s;
}

.logo-text:hover {
  color: #2D6E75;
}

.signin-main {
  display: flex;
  padding: 112px 140px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex: 1 0 0;
  align-self: stretch;
  background: linear-gradient(180deg, rgba(45, 110, 117, 0.12) 0%, rgba(45, 110, 117, 0.08) 34.62%, rgba(255, 255, 255, 0.04) 100%);
}

.signin-title-container {
  display: flex;
  width: 600px;
  height: 472px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.signin-title {
  align-self: stretch;
  color: var(--Primitive-Neutral---Darker, #232521);
  text-align: center;
  font-family: Unbounded;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 43.2px */
  letter-spacing: -0.36px;
}

.signin-form {
  width: 100%;
}

.signin-form > div:not(:last-child) {
    margin-bottom: 1.5rem; /* space-y-6 */
}


.form-label {
  display: block;
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  color: #374151; /* gray-700 */
  margin-bottom: 0.5rem; /* mb-2 */
}

.form-input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #d1d5db; /* gray-300 */
  border-radius: 0.5rem; /* rounded-lg */
}

.form-input:focus {
  outline: none;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  --tw-ring-color: #d1d5db; /* ring-gray-300 */
}


.error-message {
  color: #dc2626; /* red-600 */
  font-size: 0.875rem; /* 14px */
  text-align: center;
}

.signin-button {
  width: 100%;
  background-color: #a3e635; /* bg-lime-400 */
  color: #000000;
  font-weight: 600;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem; /* rounded-lg */
  transition: background-color 0.2s;
}

.signin-button:hover {
  background-color: #84cc16; /* hover:bg-lime-500 */
}

.signin-button:disabled {
  opacity: 0.5;
}
